  
$black: #ffffff;
.navbar {
    text-align: center;
    font-family: 'Montserrat',serif;
    color: #ffffff;
    font-weight: 550;
    font-size: small;
  }

  .navbar-light .nav-item .nav-link {
    color: $black;
  }

  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #B7ACA3;
  }
  
  .navbar-light .navbar-toggler {
    border-color: #ffffff;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .nav-link:hover{
    color: #B7ACA3;
  }

  .cambiar-fondo{
    background-color: white;
    color: black;
    .logo{
        box-sizing:border-box;
        display:block;
        width:170px;        /*Ancho de la imagen nueva, aunque en este caso son iguales.*/
        height:70px;       /*Alto de la imagen nueva, aunque en este caso son iguales.*/
        background: url(./images/INTERIORISMO-LOGO-2.png)
    }
    .navbar-light .nav-item .nav-link {
      color: black;
    }
  }

  .cambiar-logo{
    
  }
  