/** colores */
/** fuentes */
/** placeholders */
.blog .title {
  font-family: "Alegreya", serif;
  color: #135359;
}

.navbar {
  text-align: center;
  font-family: "Montserrat", serif;
  color: #ffffff;
  font-weight: 550;
  font-size: small;
}

.navbar-light .nav-item .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #B7ACA3;
}

.navbar-light .navbar-toggler {
  border-color: #ffffff;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link:hover {
  color: #B7ACA3;
}

.cambiar-fondo {
  background-color: white;
  color: black;
}
.cambiar-fondo .logo {
  box-sizing: border-box;
  display: block;
  width: 170px;
  /*Ancho de la imagen nueva, aunque en este caso son iguales.*/
  height: 70px;
  /*Alto de la imagen nueva, aunque en este caso son iguales.*/
  background: url(./images/INTERIORISMO-LOGO-2.png);
}
.cambiar-fondo .navbar-light .nav-item .nav-link {
  color: black;
}

.producto1 {
  padding: 0%;
}

.sin-borde .container .row {
  margin: 0;
  flex-wrap: nowrap;
}

.sin-borde .container {
  margin-top: 70px;
  margin-bottom: 70px;
}

.card:hover {
  transform: scale(1);
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card {
  background-color: #f4f4f4;
  margin: 1px;
  font-family: "Montserrat", serif;
}

.categoria-p {
  font-family: "Montserrat", serif;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}

.card p {
  color: #B7ACA3;
  font-size: 15px;
}

.card-title {
  margin-bottom: 0;
  font-size: 13px;
}

.etiqueta {
  background-color: #dcc4b4;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}

.img-prod {
  margin-top: 70px;
  margin-bottom: 60px;
}

.arte-2 {
  position: relative;
  /* para poder posicionar el texto de forma absoluta */
  display: inline-block;
  /* para que solo ocupe el ancho de la imagen */
}

.text-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "Montserrat", serif;
}
.text-img h1 {
  font-size: 80px;
}
.text-img p {
  margin-bottom: 0;
}

.text-img2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "Montserrat", serif;
}
.text-img2 h1 {
  font-size: 40px;
}
.text-img2 p {
  margin-bottom: 0;
}
.text-img2 .btn {
  border-color: white;
  background-color: transparent;
  border-radius: 0px;
  font-size: 15px;
}
.text-img2 .btn:hover {
  background-color: white;
  color: black;
}

.get-info .container-fluid {
  padding: 0;
}
.get-info .col {
  padding: 0;
}

.texto-footer p {
  font-size: 13px;
  margin-bottom: 3px;
  font-family: "Montserrat", serif;
}

.iconos-footer {
  text-align: right;
}

.blog {
  background-color: #ffffff;
  max-width: unset;
  padding: 5% 10%;
}
.blog .process-list {
  margin-top: 40px;
  margin-bottom: 36px;
}
.blog .process-list .process {
  margin-bottom: 25px;
}
.blog .process-list .process > div > h3 {
  color: #025157;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
}
.blog .process-list .process > div > p {
  color: #135359;
  margin: 0;
}
.blog .process-list .process .process-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  text-align: center;
}
.blog .process-list .process .process-icon img {
  height: 100%;
}
.blog button {
  height: auto;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 12px;
  width: 180px;
  margin-bottom: 15px;
}
.blog .card-title {
  font-size: 24px;
  color: #4a4a4a;
}
.blog .metadata {
  font-weight: 500;
  font-size: 14px;
  color: #979797;
}
.blog .metadata .category {
  color: #67b54b;
}
.blog .card-text {
  color: #4a4a4a;
  font-size: 18px;
  line-height: 1.5em;
  min-height: 6em;
}
.blog .card-text .read-more a {
  text-decoration: underline;
  cursor: pointer;
}
.blog .author img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.blog .author p {
  margin-left: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #4a4a4a;
}

/*# sourceMappingURL=output.css.map */
